<a class="profile">
    <div class="profile-photo">
        <img src="<%= profileImg %>" alt="Profile photo">
    </div>
    <div class="handle">
        <h4><%= name %></h4>
        <p class="text-muted"><%= user %></p>
    </div>
</a>
