<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head' , {pageName : "GATO" , styles:["variables","mainnav","home","buttons"]}) %>
<body>
    <%- include('partials/hnavbar', {activePage : 'app'}) %>
    <main>
        <div class="container4 text-center">
            <h1 class="m-plus-rounded-1c-bold">Page Not Found</h1>
            <dotlottie-player 
            src="https://lottie.host/5e8f4ccb-b894-4f8b-86de-f7f3d581ceb6/FAoLw9DBHW.lottie" 
            background="transparent" speed="1" style="width: 100%; height:100%; " loop autoplay>

            </dotlottie-player>

        </div>
    </main>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
</body>
</html>