<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head' , {pageName : "GATO" , styles:["variables","mainnav","buttons"]}) %>
<body>
    <%- include('partials/hnavbar', {activePage : 'contact'}) %>
    <main>
        <div class="container">

        </div>
    </main>
</body>
</html>