<!DOCTYPE html>
<html lang="en">

<%- include('partials/head' , {pageName : "GATO",styles:["variables","mainnav","buttons","search","testpost"]}) %>

<body>
    <main>
        <div class="container">
            <div class="left">
                
            </div>
            <div class="middle">
                <div class="feeds">
                    <%- include('partials/feed' ,{user}) %>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </main>
</body>
</html>